<div class="header-general">
  <nav class="nav-header">
    <div class="nav-member"><%= link_to "Sparks Quotes", root_path, class: "link logo"  %></div>
    <div class="nav-member"><%= link_to "Home", root_path, class: "link page"  %></div>
    <div class="nav-member"><%= link_to "Authors", "", class: "link page" %></div>
    <div class="nav-member"><%= link_to "Topics", "", class: "link page"  %></div>
    <div class="nav-member"><%= link_to "Contexts", "", class: "link page"  %></div>
  </nav>
</div>
